Repository manoldonev/react-app-template-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix -- --cache, tsc-files --noEmit, npm run test:related

chore: update dependency @testing-library/react to ~13.1.0
  package-lock.json
  package.json
Due: none

chore: update eslint cache location
  .lintstagedrc
Due: none

chore: update eslint cache location (#13)
  .lintstagedrc
Due: none

chore: update typescript-eslint monorepo to ~5.20.0
  package-lock.json
  package.json
Due: none

chore: update all non-major dependencies
  package-lock.json
  package.json
Due: none

chore: update typescript-eslint monorepo to ~5.21.0
  package-lock.json
  package.json
Due: none

chore: update react monorepo
  package-lock.json
  package.json
Due: none

chore: update typescript-eslint monorepo to ~5.22.0
  package-lock.json
  package.json
Due: none

chore: update typescript-eslint monorepo to ~5.23.0
  package-lock.json
  package.json
Due: none

chore: update dependency husky to v8
  package-lock.json
  package.json
Due: none

chore: update dependency gh-pages to v4
  package-lock.json
  package.json
Due: none

chore: update dependency ts-jest to v28
  package-lock.json
  package.json
Due: none

chore: jest explicit dependency
  package-lock.json
  package.json
Due: none

chore: update dependency @commitlint/cli to ~16.3.0
  package-lock.json
  package.json
Due: none

chore: update typescript-eslint monorepo to ~5.25.0
  package-lock.json
  package.json
Due: none

chore: switch to pnpm
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/jest.mock.d.ts
Due: prettier --write, npm run lint:fix -- --cache, tsc-files --noEmit, npm run test:related

chore: fix test:related
  package.json
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: switch to pnpm (#29)
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/jest.mock.d.ts
Due: prettier --write, npm run lint:fix -- --cache, tsc-files --noEmit, npm run test:related

chore: fix test:related script
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/index.ts
Due: prettier --write, npm run lint:fix -- --cache, tsc-files --noEmit, npm run test:related

chore: fix pnpm usage
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: fix pnpm run usage (#30)
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/index.ts
Due: prettier --write, npm run lint:fix -- --cache, tsc-files --noEmit, npm run test:related

chore: update commitlint monorepo to v17
  package.json
  pnpm-lock.yaml
Due: none

chore: update readme
  README.md
  index.html
Due: prettier --write

chore: update typescript-eslint monorepo to ~5.26.0
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: (any of: *.{html,css}) or (any of: *.{ts,tsx})
  npm run lint:fix -- --cache: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  npm run test:related: any of: *.{ts,tsx}
